* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "montserrat-bold";
    src: url(../contagem/font/montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "montserrat";
    src: url(../contagem/font/montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    background-image: url(img/fundo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "montserrat";
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1; 
}
h1{
    color: #b30303;
    transition: transform 0.3s ease;
    font-family: "montserrat-bold";
}
.senai{
    width: 200px;
    height: 200;
    margin: 20px;
}
p {
  margin-bottom: 20px;
}
button {
    margin-top: 20px;;
    background: #b30303;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
    padding: 15px;
}

button:hover {
    background: hsl(0, 74%, 45%);
    transform: translateY(-10px);
    transition: transform 0.3s;
}
a{
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
}
h1:hover{
    transform: translateY(-10px);
    transition: transform 0.3s;
}   