.azul{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.verde{
    background-color: green;
    width: 100px;
    height: 100px;
}
.roxo{
    background-color: purple;
    width: 100px;
    height: 100px;
}
.container{
    width: 500px;
    height: 500px;
    border: 2px solid black ;
    display: flex;
    justify-content: center;
    /* center, flex-end, flex-start, space-between, space-around, space-evenly */
    align-items: center;
    /* center, flex-end, flex-start, stretch, baseline */
    flex-direction: row;
    /* row, row-reverse, column, column-reverse */
    flex-wrap: wrap-reverse;
    /* nowrap, wrap */
}
/* 
.verde{
    border: 2px groove black; - Borda
    padding: 5px 10px 15px 20px;
}  
*/